<!-- index.ejs -->
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Parcel</title>
<link rel="icon" href="img/javascript.svg" type="image/x-icon" />
<!-- https://jqueryui.com/resizable/#aspect-ratio -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
</head>
<body>
<%- include('_nav.ejs') %>
<div class="container is-max-desktop my-4">
<!-- <div class="notification is-info is-light"><button class="delete"></button><p> dismissable cookie based site notification div...</p></div> -->
<!-- board -->
<div id="board"></div>
<div id="fen-display" class="p-4 has-text-centered">
<code id="fen-string" class="fen-box">rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1</code>
</div><!-- board -->
<div class="buttons is-centered">
<button class="button"><i class="fa-solid fa-bars"></i></button>
<button class="button"><i class="fa-solid fa-circle-question"></i></button>
<button id="prevBtn" class="button"><i class="fa-solid fa-arrow-left"></i></button>
<button id="nextBtn" class="button"><i class="fa-solid fa-arrow-right"></i></button>
</div>

</div>
<%- include('_modal.ejs') %>
<script type="module" src="_main.js"></script>
<script src="https://kit.fontawesome.com/5a2a5f3f4a.js" crossorigin="anonymous"></script>
</body>
</html>